{% extends "templates/base.jinja2" %}

{# NO MOCKUPS FOR THIS PAGE #}

{% block header %}
<div class="page-title">{{ content.id }}</div>
{% endblock %}

{% block content %}
<div class="content-preview">
	{{ content.html() }}
</div>
{% endblock %}
