{% extends "templates/base.jinja2" %}

{% set block_type=block_type or block.type %}

{% block header %}
<div class="page-title">{{ _('Position block') }}</div>
{% endblock %}

{% block content %}

<form action="{{ request.current_route_url() }}" method="post">
    {{ form|safe }}
</form>

{% endblock %}
